.hospitalname_input input{
    width: 100%;
    height:3vw;
    border:none;
    border-radius:5px;
    margin-top:1vw;
    background-color: rgba(246, 246, 249, .4);
    padding:1vw;
    color:white;

}

.hospitalname_input{
    margin-top:1vw;
    display: block;
}
.mobileHospital{
    display: none;
}


@media only screen and (max-width: 768px) {
    .mobileHospital{
        display: block;
    }
    .hospitalname_input{
        display: none;
    }
    
}
