.hospitaladminregistration2 {
  background-color: #3A65FD;
  height: 100vh;
  color: white;
  padding: 3vw;
  flex-direction: column;
  justify-content: space-between;

}

.hospitaladminregistration2 h1 {
  color: white;
}

.hospitaladminregistration_first {
  justify-content: space-between;
  min-height: 15vw;
}


.ho_ad_re_button h4 {
  background-color: white;
  width: fit-content;
  color: #3A65FD;
  padding: .2vw 2vw;
  border-radius: .3vw;
}

.ho_ad_re_button {
  justify-content: flex-end;
}

.hospitaladminregistration_second {
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.hospitaladminregistration_second textarea {
  width: 44vw;
  height: 7vw;
  border-radius: 1vw;
  resize: none;
  margin-top: 1vw;
  background-color: rgba(246, 246, 249, .4);
  color: white;
  padding: 1vw;
  letter-spacing: 2px;
}

.Specialties_card_ho_ad {
  width: 26vw;
  height: 13vw;
  background-color: rgba(246, 246, 249, .4);
  border-radius: 1vw;
  margin-top: 1vw;
  padding: 1vw;
  flex-direction: column;
  justify-content: space-between;
}

.Features_card_ho_ad {
  width: 26vw;
  height: 13vw;
  background-color: rgba(246, 246, 249, .4);
  border-radius: 1vw;
  margin-top: 1vw;
  padding: 1vw;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: scroll;
}

.image_card_ho_ad {
  flex-direction: column;
  width: 26vw;
}

.image_card_ho_ad input {
  background-color: rgba(246, 246, 249, .4);
  border-radius: .5vw;
  width: 100%;
  height: 3vw;
  margin-top: 1vw;
  color: white;
  padding: 1vw;
  letter-spacing: 2px;
}

.hospitaladminregistration_second input {
  background-color: rgba(246, 246, 249, .4);
  border-radius: .5vw;
  width: 100%;
  height: 3vw;
  margin-top: 1vw;
  color: white;
  padding: 1vw;
  letter-spacing: 2px;
}

.hospitalAdminPinType {
  width: 100%;
  gap: 10px;
  display: flex;
  justify-content: space-between;

}

.Toastify__toast-body>div:last-child {
  font-weight: 200;
  font-size: 17px ;
}

.hospitalAdminPinType div {
  width: 44vw;
}

.image_card_ho_ad_section {
  margin-top: 1vw;
  justify-content: space-between;
}

.image_card_ho_ad_section img {
  width: 5vw;
  height: 5vw;
  border-radius: .5vw;
  object-fit: cover;
}

.image_card_ho_ad_add_image {
  width: 5vw;
  height: 5vw;
  border-radius: .5vw;
  background-color: rgba(246, 246, 249, .4);
  justify-content: center;
  align-items: center;
  font-size: 46px;
}

.image_card_ho_ad2 {
  flex-direction: column;
  justify-content: space-between;
}


:root {
  --form-control-color: rebeccapurple;
  --form-control-disabled: #959495;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}



.form-control {
  font-family: system-ui, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.1;
  display: flex;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
  width: 40%;
}

.form-control+.form-control {}

.form-control--disabled {
  color: var(--form-control-disabled);
  cursor: not-allowed;
}

input[type="checkbox"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: var(--form-background);
  /* Not removed via appearance */
  margin: 0;

  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.8px solid currentColor;
  border-radius: 50px;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  /* Windows High Contrast Mode */
  background-color: CanvasText;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

/* input[type="checkbox"]:focus {
    outline: max(2px, 0.15em) solid currentColor;
    outline-offset: max(2px, 0.15em);
  } */

input[type="checkbox"]:disabled {
  --form-control-color: var(--form-control-disabled);

  color: var(--form-control-disabled);
  cursor: not-allowed;
}


.Features_card_ho_ad_check {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

}

.Features_card_ho_ad_check input {
  background-color: #3A65FD;
}

.Features_card_ho_ad_check label {

  width: 10vw;
  align-items: center;
  padding: .2vw;
  border-radius: 50px;
}