.doctor-profile-section {
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 4vw;
    padding-top: 5vw;
    border-radius: 2vw;
    margin-top: 7vw;
}

.doctor-profile-left {
    width: 40%;
    flex-direction: column;
    gap: 1vw;
    justify-content: center;
}

.doctor-profile-left-right {
    margin-top: 30px;
}

.doctor-profile-right {
    width: 60%;
}

.doctor-profile-right h4 {
    line-height: 2.5vw;
}

.doctor-profile-section {
    position: relative;
}

.doctor-profile-photo img {
    top: -80px;
    position: absolute;
    width: 10vw;
    height: 10vw;
    object-fit: cover;
    border-radius: 50%;
}

.doctor-profile-contact {
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.4);
    padding: .5vw;
    border-radius: .5vw;
    margin-top: 2vw;

}

.doctorprofilestar {
    gap: 1.2vw;
}

.doctor-time {
    align-items: center;
    padding-left: 2vw;
}

.doctor-contact-button h4 {
    background-color: white;
    color: var(--color-primary);
    padding: 0.6vw 1.2vw;
    border-radius: .4vw;
    gap: .6vw;
}

.doctor-contact-button i {
    font-size: 20px;
}

.DoctorAvailableSec {
    width: 100%;
    border-radius: 2vw;
    padding: 20px;
    background-color: #3A65FD0F;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.DoctorAvailableAvailableSec {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 30px;
    height: 300px;
    overflow: scroll;
}

.DoctorAvailableAvailableTag p {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.737);
    font-weight: 400;
    letter-spacing: 1px;
}

.DoctorAvailableSecSettingSec {
    width: 46%;
    display: flex;
    height: fit-content;
    justify-content: space-between;
}


.DoctorAvailableSecSettingSec button {
    border-radius: 2vw;
    padding: 10px;
    background-color: #7E83FF;
    border: none;
    color: white;
    letter-spacing: 1px;
}

.DoctorAvailableTiming p {
    color: rgba(0, 0, 0, 0.737);
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 1px;
}

.DoctorAvailableTimingDays {
    display: flex;
    gap: 6px;

}

.DoctorAvailableTiming {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.DoctorAvailableTimingDays p {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
    color: rgba(0, 0, 255, 0.863);
}

.Doctor_profileAlign {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    gap: 30px;
}

.Doctor_profileAlignCenter {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    width: 80%;
}

@media screen and (max-width:1100px) {
    .doctor-profile-photo img {
        top: -60px;
    }
}

@media screen and (max-width:1024px) {
    .doctor-profile-photo img {
        top: -60px;
    }
}