
.main-register{
    height:100vh;
    align-items: center;
}


.register-png-div{
    width:14vw;
}



.registration-form{
    width:72vw;
    background-color: var(--color-primary);
    border-radius:2vw;
    padding:2vw;
    /* height: 80vh; */
    color:var(--color-white);
  
}


#inputTag[type="file"]{
    display: none;
  }

  label{
    cursor: pointer;
}

.select-file{
    background-color:white;
    color:var(--color-primary);
    width: fit-content;
    border-radius:.4vw;
    padding:4px 20px;
   
}
.upload-image{
    margin-top: 2vw;
 gap: 1vw;
 align-items: center;
}
.register-input-section{
    justify-content: space-between;
}

.register-left-section{
    width: 48%;
}
.register-right-section{
    width: 48%;
}

.register-right-section div{
   margin-top:2vw;
}

.register-left-section div{
    margin-top:2vw;
 }
 

.register-right-section input{
    width: 100%;
    height:3vw;
    border:none;
    border-radius:5px;
    margin-top:1vw;
    background-color: rgba(246, 246, 249, .4);
    padding:1vw;
    color:white;
}

.register-left-section input{
    width: 100%;
    height:3vw;
    border:none;
    border-radius:5px;
    margin-top:1vw;
    background-color: rgba(246, 246, 249, .4);
    padding:1vw;
    color:white;
}

.register-button-section{
    justify-content: end;
    margin-top:2vw;
}

.register-button-section a{
   height:3vw;
   border-radius:5px;
   background-color: var(--color-white);
   justify-content: center; 
   align-items: center;
   padding-left:30px;
   padding-right: 30px;
}

.register-png-div2{
  justify-content: flex-end;
}

.register-button-section h4{
    color: var(--color-primary);
}



@media screen and (max-width:780px){

.register-input-section{
    flex-direction: column;
}

.register-png-div{
    display:none;
}

.register-left-section{
    width:100%;
    margin-top: 20px;
}
.register-right-section{
    width:100%;
}

.register-left-section input{
    height:9vw;
    padding-left:10px;
}

.register-right-section input{
    height:9vw;
    padding-left:10px;
}

.register-button-section a{
    height:9vw;
    border-radius:5px;
    background-color: var(--color-white);
    justify-content: center; 
    align-items: center;
    padding-left:30px;
    padding-right: 30px;
 }

 .registration-form{
    width:100%;
    height:100vh;
    padding:10vw;
    border-radius:0vw;
 }
 

 .register-button-section{
    justify-content: end;
    margin-top:5vw;
}

}