
.main-register{
    height:100vh;
    align-items: center;
}


.register-png-div{
    width:14vw;
}

.fileNameDisplay-div h4{
    display: flex;
    height:3vw;
    align-items: center;
    margin-left:1vw;
}



.registration-form{
    width:72vw;
    background-color: var(--color-primary);
    border-radius:2vw;
    padding:2vw;
    /* height: 80vh; */
    color:var(--color-white);
  
}


#inputTag[type="file"]{
    display: none;
  }

  label{
    cursor: pointer;
}


/* .register-input-section{
    justify-content: space-between;
} */

.register-left-section{

    justify-content: space-between;
}
.register-right-section{
    justify-content: space-between;
}

.register-right-section div{
   margin-top:0vw;
}

.register-left-section div{
    margin-top:1vw;
 }
 

.register-right-section input{
    width:32vw;
    height:3vw;
    border:none;
    border-radius:5px;
    margin-top:1vw;
    background-color: rgba(246, 246, 249, .4);
    padding:1vw;
    color:white;
}

.register-left-section input{
    width:32vw;
    height:3vw;
    border:none;
    border-radius:5px;
    margin-top:1vw;
    background-color: rgba(246, 246, 249, .4);
    padding:1vw;
    color:white;
}

.register-button-section{
    justify-content: end;
    margin-top:2vw;
}

.register-button-section a{
   height:3vw;
   border-radius:5px;
   background-color: var(--color-white);
   justify-content: center; 
   align-items: center;
   padding-left:30px;
   padding-right: 30px;
}

.register-png-div2{
  justify-content: flex-end;
}

.register-button-section h4{
    color: var(--color-primary);
}

.main-waring-section{
    height:2.5vw;
}

.main-waring-section-pass{
    width:32vw;
}

.hospital-top{
    justify-content: space-between;
}




.register-number-warning {
    color:rgba(246, 246, 249, .6);
    font-size:1.2rem;
    font-weight: 300;
    letter-spacing: 1.5px;   
    margin-top:0.4vw;
}





.hospitalname_input input{
    width:48vw;
    border: none;
    border-radius: 5px;
    margin-top: 1vw;
    background-color: rgba(246, 246, 249, .4);
    padding: 1vw;
    color: white;
    height:3vw;
}



.select-file{
    background-color:white;
    color:var(--color-primary);
    
    height:3vw;
    border-radius:.4vw;
    padding-left:1vw;
    padding-right:1vw;
   
   
    align-items: center;
}

.hospital-top{
    margin-top:1.5vw;
}





.pass-con-Inp{
    width:32vw;
    height: 3vw;
}


.upload-image{
    margin-top:1vw;
}

@media screen and (max-width: 780px) {

    .pass-con-Inp{
        width:100%;
        height: 10vw;
      
    }

    .pass-con-Inp input{ 
        width:100%;
        height: 10vw;
      
    }

    .register-right-section input{
        height: 10vw;
    }
}






















@media screen and (max-width:780px){

.register-input-section{
    flex-direction: column;
}

.register-png-div{
    display:none;
}

.register-left-section{
    width:100%;
 
    flex-direction: column;
}
.register-right-section{
    width:100%;
    flex-direction: column;
}

.register-left-section input{
    height:9vw;
    padding-left:10px;
    width:100%;
}

.register-right-section input{
    height:9vw;
    padding-left:10px;
    width:100%;
}

.register-button-section a{
    height:9vw;
    border-radius:5px;
    background-color: var(--color-white);
    justify-content: center; 
    align-items: center;
    padding-left:30px;
    padding-right: 30px;
 }

 .registration-form{
    width:100%;
    height:100vh;
    padding:5vw;
    border-radius:0vw;
 }
 
 /* .upload-image{
    margin-top: 7vw;
 } */
 .register-button-section{
    justify-content: end;
    margin-top:5vw;
}

.hospital-top{
    flex-direction: column-reverse;
}

.hospital-top input{
    width: 100%;
}


.select-file{
    background-color:white;
    color:var(--color-primary);
    width:100%;
    height:9vw;
    border-radius:.4vw;
    padding-left:1vw;
  
   
    margin-top: 1vw;
    align-items: center;
    justify-content: center;
    border-radius:2vw;
}


.main-waring-section{
    height:fit-content;
}

.main-waring-section-pass{
    width:100%;
    height:fit-content;
}

.main-waring-section-image{
    height:fit-content;
}

.pass-con{
    margin-top:2vw;
}




}