.doctoradminregistration {
  height: 100vh;
  background-color: #3a65fd;
  flex-direction: column;
  justify-content: space-between;
  padding: 2vw;
}

.doctoradminregistration h1 {
  color: white;
  margin: 40px 00px;
}

.doctoradminregistration_input1,
.doctoradminregistration_input2,
.doctoradminregistration_input3 {
  justify-content: space-between;
}

.doctoradminregistration_input h4 {
  color: white;
}

.doctoradminregistration_input {
  flex-direction: column;
  justify-content: space-between;
  height: 68vh;
}

.doctoradminregistration_input input {
  background-color: rgba(246, 246, 249, 0.4);
  border-radius: 0.5vw;
  height: 3vw;
  color: white;
  padding: 1vw;
  letter-spacing: 2px;
  width: 30vw;
  margin-top: 1vw;
}

.DoctorRegInfo {
  color: white;
  font-size: 1rem;
  letter-spacing: 1px;
}

.text_area_section {
  justify-content: space-between;
  height: 15vw;
}

.doctoradminregistration_input3 {
  flex-direction: column;
  justify-content: space-between;
}

.doctoradminregistration_input3 textarea {
  height: 12vw;
  border-radius: 1vw;
  resize: none;
  background-color: rgba(246, 246, 249, 0.4);
  color: white;
  padding: 1vw;
  letter-spacing: 2px;
  width: 46vw;
}

.doctoradminregistration_input4 textarea {
  border-radius: 1vw;
  resize: none;
  height: 7vw;
  background-color: rgba(246, 246, 249, 0.4);
  color: white;
  padding: 1vw;
  letter-spacing: 2px;
  width: 46vw;
}

.doctoradminregistration_input4 {
  flex-direction: column;
  justify-content: space-between;
}

.doctoradminregistration_input7 {
  height: 12vw;
  flex-direction: column;
  justify-content: space-between;
}

.doctoradminregistration_input6 {
  justify-content: space-between;
}

.doctoradminregistration_input6 input {
  width: 22vw;
  margin-top: 0px;
}

.doctoradminregistration_input6 select {
  width: 22vw;
  margin-top: 0px;
}

.doctoradminregistration_input6 select::placeholder {
  color: white;
}

.doctoradminregistration_input6 input::placeholder {
  color: white;
}

.doctoradminregistration_button {
  justify-content: flex-end;
  margin-top: 2rem;
}

.doctoradminregistration_button h4 {
  background-color: white;
  width: fit-content;
  padding: 0.5vw 3vw;
  border-radius: 0.5vw;
  color: #3a65fd;
  margin-left: 2vw;
  border: 1px solid white;
}

.demo1 h4 {
  border: 1px solid white;
  background-color: #3a65fd;
  color: white;
}

.doctoradminregistration_gender {
  background-color: rgba(246, 246, 249, 0.4);
  border-radius: 0.5vw;
  height: 3vw;
  color: white;
  padding: 1vw;
  letter-spacing: 2px;
  width: 30vw;
  margin-top: 1vw;
}

.doctoradminregistration_gender_font {
  border: 1px solid rgba(8, 1, 1, 0.884);
  background-color: white;
  color: #3a65fd;
}

.doctoradminregistration_spec_font {
  justify-content: space-between;
  background-color: rgba(246, 246, 249, 0.4);
  border-radius: 0.5vw;
  height: 3vw;
  color: white;
  padding: 1vw;
  letter-spacing: 2px;
  width: 30vw;
  margin-top: 1vw;
}

.desktop {
  display: block;
}

.mobile {
  display: none;
}

/* Mobile screen ----------------------------------------*/

@media only screen and (max-width: 768px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  .doctoradminregistration_input {
    height: 100%;
    margin: 10px 00px;
  }

  .doctoradminregistration {
    /* height: 100vh; */
    height: auto;
    background-color: #3a65fd;
    flex-direction: column;
    /* justify-content: space-between; */
    padding: 4vw;
  }


  .doctoradminregistration_input input {
    background-color: rgba(246, 246, 249, 0.4);
    border-radius: 5px;
    color: white;
    padding: 1vw;
    width: 100%;
    height: 40px;
    letter-spacing: 2px;
  }

  .doctoradminregistration_gender {
    background-color: rgba(246, 246, 249, 0.4);
    border-radius: 5px;
    height: 40px;
    color: white;
    padding: 1vw;
    letter-spacing: 2px;
    width: 100%;
    margin-top: 2vw;
  }

  .text_area_section {
    /* justify-content: flex-end; */
    /* height: 1vw; */
    height: 100%;
    border: 1px soli red;
  }

  .doctoradminregistration_input3 textarea {
    height: 100px;
    border-radius: 1vw;
    resize: none;
    /* margin-top:1vw; */
    background-color: rgba(246, 246, 249, 0.4);
    color: white;
    padding: 1vw;
    letter-spacing: 2px;
    width: 100%;
  }

  .doctoradminregistration_input4 textarea {
    border-radius: 1vw;
    resize: none;
    height: 100px;
    background-color: rgba(246, 246, 249, 0.4);
    color: white;
    padding: 1vw;
    letter-spacing: 2px;
    width: 100%;
  }

  .doctoradminregistration_input6 {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .doctoradminregistration_input6 input {
    width: 40%;
    margin-top: 0px;
    padding-left: 20px;
  }

  .doctoradminregistration_input6 select {
    width: 40%;
    padding-left: 20px;
    margin-top: 0px;
  }

  .doctoradminregistration_button {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
  }

  .doctoradminregistration_button h4 {
    background-color: white;
    width: 8rem;
    padding: 0.5vw 3vw;
    border-radius: 0.5vw;
    color: #3a65fd;
    margin-left: 2vw;
    border: 1px solid white;
  }

  .demo2 h4 {
    border: 1px solid white;
    background-color: #3a65fd;
    color: white;
  }
}