.availability {
    background-color: #3A65FD;
    border-radius: 1vw;
    min-height: 10vw;
    margin-top: 3vw;
    padding: 2vw;
    color: white;
}

.available {
    background-color: rgb(194, 207, 255);
    padding: 0.6vw;
    border-radius: 0.6vw;
    margin-top: 1.5vw;
    justify-content: space-between;
}

.hospitalname h4 {
    background-color: white;
    width: fit-content;
    color: #3A65FD;
    padding: 0.3vw 1vw;
    border-radius: .3vw;
}

.hospitalname_button button {
    background-color: #3A65FD;
    width: fit-content;
    padding: 0.3vw 1vw;
    border-radius: .3vw;
    cursor: pointer;
    color: white;
}

.hospitalname_button {
    gap: 10px;
    display: flex;
}

.DltPopupAlign {
    height: 200px;
    background-color: white;
    width: 30%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    gap: 20px;
}

.DltPopupAlignButtons {
    display: flex;
    width: 100%;
    gap: 20px;
    justify-content: center;
}

.DltPopupAlignButton {
    border: 1px solid red;
    background-color: transparent;
    color: red;
    border-radius: 6px;
    padding: 5px;
    width: 100px;
    font-size: 17px;
    letter-spacing: 1px;
}

button {
    cursor: pointer;
}

.DltPopupAlignButton2 {
    background-color: green;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 5px;
    width: 100px;
    font-size: 17px;
    letter-spacing: 1px;
}

.DltPopupAlign h3 {
    text-align: center;
    letter-spacing: 1px;

}

#DltPopupAlignIcon {
    font-size: 50px;
    color: red;
}

.dltPopupAlignModal {
    justify-content: center;
    align-items: center;
    display: flex;
}

.DltPopupAlignIconDiv {
    width: 100%;
    display: flex;
    justify-content: center;

}

.available_add_button h4 {
    background-color: white;
    width: fit-content;
    color: #3A65FD;
    margin-top: 1.5vw;
    padding: .5vw 1.2vw;
    border-radius: .5vw;
}

.available_add_button_align {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    height: 50px;
}

.available_add_button {
    justify-content: flex-end;
}


.viewdetails {
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1vw;
    background-color: white;
    width: 50%;
    gap: 30px;
    display: flex;
    flex-direction: column;
    height: 90vh;
    overflow-x: scroll;
}

.viewdataTimePickerDuelAlign {
    display: flex;
    gap: 10px;
}

.viewdetails label {
    font-size: 17px;
    font-weight: 200;
}

.modalInputdiv input {
    border: 1px solid black;
    height: 40px;
    border-radius: 6px;
}

.viewdetails h2 {
    font-weight: bold;
}

.viewdataTimeSec label {
    font-size: 20px;
}



.modalInputOpenDiv {
    width: 100%;
    padding: 5px;
    border: 1px solid black;
    height: 40px;
    border-radius: 6px;
    font-family: 'Outfit', sans-serif;
    font-size: 17px;
    letter-spacing: 2px;

}

.modalInputPtag {
    font-size: 13px;
    font-weight: 300;
    color: #3A65FD;
}

.viewdataTimeAddEx {
    background-color: #3A65FD;
    color: white;
    height: 50px;
    width: 50px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#viewdataTimeAddExIcon {
    font-size: 30px;

}

.viewdataTimeAddGap {
    width: 50px;
}

.modalInputPtag span {
    font-size: 20px;
    color: #3A65FD;
}

.viewdetailsInput {
    width: 100%;
    border: 0.5px solid black;
    border-radius: 5px;
    height: 40px;
}

.modalInputdiv {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.viewdataTimePicker {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
    justify-content: center;

}

.viewdataTimeSec {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #3A65FD;
    width: 45%;
}

.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root.Mui-error {
    background-color: white;
    margin: -2px -4px;
}

.viewdataTimePickerCompo {
    width: 50%;
}


.viewdataFinalSaveButton {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.viewdataFinalSaveButton button {
    width: 100px;
    color: white;
    background-color: #3A65FD;
    font-size: 17px;
    letter-spacing: 1px;
    height: 30px;
    border: none;
    border-radius: 6px;
}

.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root {
    background-color: white;
    margin: -2px -4px;
}

.css-6hp17o-MuiList-root-MuiMenu-list {
    height: 200px;
}

.availabilityFixedSize {
    height: 40vh;
    overflow-x: hidden;
    padding: 10px;
}

.viewdataTimePickerScroll {
    overflow-x: hidden;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
    justify-content: center;
}